<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
        th:charset="UTF-8" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Case by Case</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/css/session1.css}" />
    <!-- content script    <th:block layout:fragment="script"> -->
    <script th:inline="javascript" defer>
    </script>
</head>



<th:block layout:fragment="content">
    <div class="content">
        <div class="testtitle">
            <p class="title" id="test1">PART 1</p>
        </div>
        <div class="N01_1">
            <p>1. 원하는 카테고리를 선택하시오.</p>
            <form method="post">
                <label for="category"> 카데고리 선택:</label>
                <select id="category" name="category">
                    <option value="애니메이션">애니메이션</option>
                    <option value="패션">패션</option>
                    <option value="모던">모던</option>
                    <option value="게임">게임</option>
                    <option value="아티스틱">아티스틱</option>
                    <option value="그래픽">그래픽</option>
                    <option value="Y2K">Y2K</option>
                </select>
                <button type="submit" >선택</button>
                <br>
                <div class="question2">
                    <p class="question2_p">2. 마음에 드는 이미지 3장을 선택하시오.</p>
                    <button type="submit">다른 이미지 보기</button>
                </div>
            </form>

            <div>
                <div class="sel_category">
                        <div><img src="/images/Game/64.jpg" width="100" height="100" ><input type="checkbox" class="image-checkbox"><label >64.jpg</label></div>
                        <div><img src="/images/Game/160.jpg" width="100" height="100"><input type="checkbox" class="image-checkbox"><label >160.jpg</label></div>
                        <div><img src="/images/Game/3.jpg" width="100" height="100"><input type="checkbox" class="image-checkbox"><label >3.jpg</label></div>
                        <div><img src="/images/Game/75.jpg" width="100" height="100"><input type="checkbox" class="image-checkbox"><label >75.jpg</label></div>
                        <div><img src="/images/Game/54.jpg" width="100" height="100"><input type="checkbox" class="image-checkbox"><label >54.jpg</label></div>
                        <div><img src="/images/Game/77.jpg" width="100" height="100"><input type="checkbox" class="image-checkbox"><label >77.jpg</label></div>
                        <div> <img src="/images/Game/137.jpg" width="100" height="100"><input type="checkbox" class="image-checkbox"><label >137.jpg</label></div>
                        <div><img src="/images/Game/96.jpg" width="100" height="100"><input type="checkbox" class="image-checkbox"><label >96.jpg</label></div>
                        <div><img src="/images/Game/115.jpg" width="100" height="100"><input type="checkbox" class="image-checkbox"><label >115.jpg</label></div>
                        <div><img src="/images/Game/17.jpg" width="100" height="100"><input type="checkbox" class="image-checkbox"><label >17.jpg</label></div>
                </div>
                <br>
            </div>

            <form method="post">
                <div>
                    <label>게임</label>
                    <input type="text" name="img_num" id="img_num"/>
                    <button type="submit" id="submitImagesButton">이미지 선택하기</button>
                </div>
            </form>
        </div>

        <div class="N02_1">
            <p>3. 사용자께서 평소 이용한 휴대폰 케이스 사진을 업로드 해주세요.</p>
            <form  method="post" enctype="multipart/form-data" >
                <input type="file" name="7.jpg" />
                <button type="submit">업로드</button>
            </form>
            <br>
            <p >4. 추천된 이미지</p>

            <div>
                <div class="sel_category">
                    <div><p>Similarity: 0.56</p><img src="/images/Game/157.jpg" width="100" height="100" ><label >157.jpg</label></div>
                    <div><p>Similarity: 0.55</p><img src="/images/Game/69.jpg" width="100" height="100" ><label >69.jpg</label></div>
                    <div><p>Similarity: 0.55</p><img src="/images/Game/16.jpg" width="100" height="100" ><label >16.jpg</label></div>
                    <div><p>Similarity: 0.54</p><img src="/images/Game/154.jpg" width="100" height="100" ><label >154.jpg</label></div>
                    <div><p>Similarity: 0.54</p><img src="/images/Game/65.jpg" width="100" height="100" ><label >65.jpg</label></div>
                    <div><p>Similarity: 0.53</p><img src="/images/Game/123.jpg" width="100" height="100" ><label >123.jpg</label></div>
                    <div><p>Similarity: 0.53</p><img src="/images/Game/192.jpg" width="100" height="100" ><label >192.jpg</label></div>
                    <div><p>Similarity: 0.52</p><img src="/images/Game/3.jpg" width="100" height="100" ><label >3.jpg</label></div>
                    <div><p>Similarity: 0.51</p><img src="/images/Game/184.jpg" width="100" height="100" ><label >184.jpg</label></div>
                    <div><p>Similarity: 0.51</p><img src="/images/Game/158.jpg" width="100" height="100" ><label >158.jpg</label></div>
                </div>
            </div>
        </div>


        <div class="testtitle">
            <p class="title" id="test2">PART 2</p>
        </div>
        <div class="N01_2">
            <p>1. 원하는 카테고리를 선택하시오.</p>
            <form th:action="@{/submitCategory2}" method="post">
                <label for="category2"> 카데고리 선택:</label>
                <select id="category2" name="category">
                    <option value="애니메이션">에니메이션</option>
                    <option value="패션">패션</option>
                    <option value="모던">모던</option>
                    <option value="게임">게임</option>
                    <option value="아티스틱">아티스틱</option>
                    <option value="그래픽">그래픽</option>
                    <option value="Y2K">Y2K</option>
                </select>
                <button type="submit">선택</button>
            </form>
        </div>

        <br>
        <div class="N02_2">
            <p class="question2_p">2. 사용자께서 사용한 휴대폰 케이스를 업로드 해주세요.</p>
            <form th:action="@{/uploadImage}" method="post" enctype="multipart/form-data" th:object="${uploadForm}">
                <input type="file" name="file" accept="image/*" />
                <button type="submit">업로드</button>
            </form>

            <form>
                <div class="sel_category">
                        <div><p>Similarity: 0.38</p><img src="/images/Modern/744.jpg" width="100" height="100" ><input type="checkbox" class="image-checkbox"><label >744.jpg</label></div>
                        <div><p>Similarity: 0.38</p><img src="/images/Modern/67.jpg" width="100" height="100" ><input type="checkbox" class="image-checkbox"><label >67.jpg</label></div>
                        <div><p>Similarity: 0.38</p><img src="/images/Modern/590.jpg" width="100" height="100" ><input type="checkbox" class="image-checkbox"><label >590.jpg</label></div>
                        <div><p>Similarity: 0.37</p><img src="/images/Modern/688.jpg" width="100" height="100" ><input type="checkbox" class="image-checkbox"><label >688.jpg</label></div>
                        <div><p>Similarity: 0.37</p><img src="/images/Modern/442.jpg" width="100" height="100" ><input type="checkbox" class="image-checkbox"><label >442.jpg</label></div>
                        <div><p>Similarity: 0.37</p><img src="/images/Modern/446.jpg" width="100" height="100" ><input type="checkbox" class="image-checkbox"><label >446.jpg</label></div>
                        <div><p>Similarity: 0.36</p><img src="/images/Modern/146.jpg" width="100" height="100" ><input type="checkbox" class="image-checkbox"><label >146.jpg</label></div>
                        <div><p>Similarity: 0.36</p><img src="/images/Modern/596.jpg" width="100" height="100" ><input type="checkbox" class="image-checkbox"><label >596.jpg</label></div>
                        <div><p>Similarity: 0.35</p><img src="/images/Modern/740.jpg" width="100" height="100" ><input type="checkbox" class="image-checkbox"><label >740.jpg</label></div>
                        <div><p>Similarity: 0.34</p><img src="/images/Modern/677.jpg" width="100" height="100" ><input type="checkbox" class="image-checkbox"><label >677.jpg</label></div>
                </div>
                    <br>
                <label>모던</label>
                <input type="text" name="img_num" id="img_num"/>
                <button type="button"> 이미지 선택하기</button>

            </form>
            <p class="question2_p"> 3. 추천된 이미지 </p>
            <div class="sel_category">
                <div><p>Similarity: 0.92</p><img src="/images/Modern/217.jpg" width="100" height="100" ><label >217.jpg</label></div>
                <div><p>Similarity: 0.88</p><img src="/images/Modern/388.jpg" width="100" height="100" ><label >388.jpg</label></div>
                <div><p>Similarity: 0.87</p><img src="/images/Modern/446.jpg" width="100" height="100" ><label >446.jpg</label></div>
                <div><p>Similarity: 0.88</p><img src="/images/Modern/449.jpg" width="100" height="100" ><label >449.jpg</label></div>
                <div><p>Similarity: 0.87</p><img src="/images/Modern/673.jpg" width="100" height="100" ><label >673.jpg</label></div>
                <div><p>Similarity: 0.85</p><img src="/images/Modern/160.jpg" width="100" height="100" ><label >160.jpg</label></div>
                <div><p>Similarity: 0.87</p><img src="/images/Modern/67.jpg" width="100" height="100" ><label >67.jpg</label></div>
                <div><p>Similarity: 0.85</p><img src="/images/Modern/657.jpg" width="100" height="100" ><label >657.jpg</label></div>
                <div><p>Similarity: 0.84</p><img src="/images/Modern/217.jpg" width="100" height="100" ><label >217.jpg </label></div>

            </div>
        </div>
    </div>

</th:block>
</html>
