<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
        th:charset="UTF-8" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Case by Case</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/css/session1.css}" />
    <script th:inline="javascript">
        function navigateToSession2() {
        // 페이지 이동
        window.location.href = 'session2';}
    </script>
</head>

<th:block layout:fragment="content">
    <div class="content">
        <div class="testtitle">
            <p class="title" id="test1">PART 1</p>
        </div>
        <div class="N01_1">
            <p><span> 1. 원하는 카테고리를 선택하시오. </span><button onclick="navigateToSession2()"> 카테고리 설명 </button>
            </p>
            <form th:action="@{/casebycase/submitCategory}" method="post">
                <label for="category"> 카데고리 선택:</label>
                <select id="category" name="category">
                    <option value="애니메이션">애니메이션</option>
                    <option value="패션">패션</option>
                    <option value="모던">모던</option>
                    <option value="게임">게임</option>
                    <option value="아티스틱">아티스틱</option>
                    <option value="그래픽">그래픽</option>
                    <option value="Y2K">Y2K</option>
                </select>
                <button type="submit" id="submitButton">선택</button>

                <br>
                <div class="question2">
                    <p class="question2_p">2. 마음에 드는 이미지 3장을 선택하시오.</p>
                    <button type="submit">다른 이미지 보기</button>
                </div>
            </form>

            <div class="sel_category" th:fragment="imageList">
                <th:block th:if="${selectedCategory}">
                    <div class="image-box" th:each="image : ${randomImages}">
                        <img th:src="@{'/images/' + ${fileName} + '/' + ${image}}" alt="랜덤 이미지">
                        <div>
                            <input type="checkbox" th:id="${'checkbox-' + image}" id="selectedImagesInput" class="image-checkbox">
                            <label th:for="${'checkbox-' + image}" th:text="${image}" class="image-name"></label>
                        </div>
                    </div>
                </th:block>
                <br>
            </div>

            <form th:action="@{/casebycase/mapping/selectImages}" method="post" id="imgselectform">
                <input type="text" name="category" value="${selectedCategory}" style="display: none" />
                <div id="imgInfo1" th:style="${imgNumList == null or #lists.isEmpty(imgNumList) ? 'display: block;' : 'display: none;'}">
                    <label th:text="${selectedCategory}" id="sel_CA"></label>
                    <input type="text" name="img_num" id="img_num"/>
                    <button type="submit" id="submitImagesButton">이미지 선택하기</button>
                </div>
                <div id="imgInfo2" th:style="${imgNumList != null and not #lists.isEmpty(imgNumList) ? 'display: block;' : 'display: none;'}">
                    <span>선택한 이미지: </span>
                    <span th:text="${imgNumList}"></span>
                </div>
            </form>
        </div>

        <div class="N02_1">
            <p>3. 사용자께서 평소 이용한 휴대폰 케이스 사진을 업로드 해주세요.</p>
            <form th:action="@{/casebycase/mapping/request}" method="post" enctype="multipart/form-data" th:object="${uploadForm}">
                <input type="file" name="user_file" accept="image/*" />
                <button type="submit">업로드</button>
            </form>
        </div>

        <!-- 이미지 표시 부분 추가 -->
        <div class="image-grid">
            <th:block th:each="image : ${top_10}">
                <p th:text="${image.value}"></p>
                <img th:src="@{'/images/' + ${fileName} + '/' + ${image.key} }" alt="Image" />
            </th:block>
        </div>


        <!-- <form th:action="@{/casebycase/mapping/request}" method="post">
            <button type="submit" id="recommend_btn">추천 받기</button>
        </form> -->
        <div class="Part1_img">
            <th:block th:if="${sel_Part1}">
                <div class="part1_box" th:each="image : ${Images}">
                    <img th:src="@{'/images/' + ${fileName} + '/' + ${image}}" alt="랜덤 이미지">
                    <div>
                        <label th:for="${'checkbox-' + image}" th:text="${image}" class="image-name"></label>
                    </div>
                </div>
            </th:block>
        </div>




























        <div class="testtitle">
            <p class="title" id="test2">PART 2</p>
        </div>
        <div class="N01_2">
            <p>1. 원하는 카테고리를 선택하시오.</p>
            <form th:action="@{/submitCategory2}" method="post">
                <label for="category2"> 카데고리 선택:</label>
                <select id="category2" name="category">
                    <option value="애니메이션">에니메이션</option>
                    <option value="패션">패션</option>
                    <option value="모던">모던</option>
                    <option value="게임">게임</option>
                    <option value="아티스틱">아티스틱</option>
                    <option value="그래픽">그래픽</option>
                    <option value="Y2K">Y2K</option>
                </select>
                <button type="submit">선택</button>
            </form>
        </div>
        <!-- 이미지 업로드 -->
        <br>
        <div class="N02_2">
            <p class="question2_p">2. 사용자께서 사용한 휴대폰 케이스를 업로드 해주세요.</p>
            <form th:action="@{/uploadImage}" method="post" enctype="multipart/form-data" th:object="${uploadForm}">
                <input type="file" name="file" accept="image/*" />
                <button type="submit">업로드</button>
            </form>

            <form>
                <div class="sel_category">

                    <th:block th:if="${selectedCategory2}">
                        <th:block th:each="i : ${#numbers.sequence(1, 10)}">
                            <!-- 이미지를 표시하는 부분 -->
                            <div class="image-box">

                            </div>
                        </th:block>
                    </th:block>
                    <br>
                </div>
                <button type="button"> 이미지 선택하기</button>
            </form>
        </div>
    </div>

</th:block>
</html>
