<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8" />
    <title>Thymeleaf Layout</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />


    <link rel="stylesheet" th:href="@{/css/session2.css}" />
    <!-- content script -->
    <th:block layout:fragment="script"></th:block>
    <script>
        function navigateToSession1() {
            // 페이지 이동
            window.location.href = 'session1';
        }
    </script>
</head>
<body>
    <th:block layout:fragment="content">
    <div class="content">
        <div class="font-center frame">
            <button onclick="navigateToSession1()">추천 받기</button>
            <h3>카테고리 소개</h3>
        </div>
        <div class="category font-center">
            <div class="fancy">Animation</div>
            <div class="show_category">
                <div class="image-box">
                    <img src="/images/Animation/1.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Animation/21.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Animation/31.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Animation/41.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Animation/51.jpg" alt="Animation">
                </div>
                <div>애니메이션<hr>
                    애니메이션과 카툰 등 다양한 장르의 캐릭터를 가진 디자인 입니다.<br>
                    케이스티파이 페이지에서 애니메이션과 카툰 카테고리를 합쳤습니다. <br>
                    만화적 요소가 많이 포함된 디자인으로 밝고 귀여운 이미지를 가져다줍니다.<br>
                </div>
            </div>
        </div>
        <div class="category font-center">
            <div class="fancy">Art</div>
            <div class="show_category">
                <div class="image-box">
                    <img src="/images/Art/10.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Art/26.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Art/38.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Art/41.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Art/70.jpg" alt="Animation">
                </div>
                    <div> 아트<hr>
                        케이스티파이 홈페이지의 초현실주의, 팝아트, 초상화, 수채화 카테고리를 합쳐 '아트'카테고리로 지정했습니다.<br>
                        -미술적 요소가 많이 포함된 디자인입니다.  <br>
                        -초현실주의는 이성의 굴레에서 벗어난 세계를 주제로 디자인입니다.<br>
                        -팝아트는 대중문화와 일상적인 사물들을 예술의 소재로 삼은 아트 디자인입니다. <br>
                        -초상화, 수채화와 같이 미술작품을 폰 케이스로 담아냈습니다.
                    </div>
            </div>
            </div>
        </div>
        <div class="category font-center">
            <div class="fancy">Fashion</div>
            <div class="show_category">
                <div class="image-box">
                    <img src="/images/Fashion/1.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Fashion/21.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Fashion/31.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Fashion/41.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Fashion/51.jpg" alt="Animation">
                </div>
                <div>패션<hr>
                    앤티크와 코티지코어, 자유분방함부터 스타일리쉬한 패션 스타일까지 다양한 프린팅이 된 스타일입니다. <br>
                    케이스티파이에서 보헤미안. 홀리데이프린트, 코티지코어, 프린트 카테고리를 포함하고 있습니다.<br>
                    -보헤미안은 유랑 민족인 집시를 보헤미안이라고 불렀던 것에서 유래된 사회의 관습에 구애되지 않는 방랑자, 자유분방한 생활스타일이 포함된 디자인입니다. <br>
                    -홀리데이 프린트는 크리스마스, 할로윈 등 공휴일에 걸맞는 디자인을 포함하고 있습니다.  <br>
                    -코티지코어는 시골에 있는 작은 집, 시골에서의 단순한 생활을 추구하는 스타일입니다.<br>
                </div>
            </div>
        </div>

        <div class="category font-center">
            <div class="fancy">Game</div>
            <div class="show_category">
                <div class="image-box">
                    <img src="/images/Game/1.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Game/25.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Game/33.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Game/47.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Game/100.jpg" alt="Animation">
                </div>
                <div>게임<hr>
                    힙하고 다크한 스트릿 계열의 디자인이 포함된 카테고리입니다. <br>
                    -케이스티파이 페이지에서 게임, 다크 아카데미아, Hype, 스트릿아트의 카테고리를 포함하고 있습니다.<br>
                    -다크 아카데미아는 고전 예술부터 고딕 스타일까지 두루 포함한 유럽풍 범생이느낌, 어둡고 깊은 느낌의 디자인입니다.<br>
                    -Hype: 과장된 스타일의 디자인 입니다.<br>
                </div>
            </div>
        </div>
        <div class="category font-center">
            <div class="fancy">Graphic</div>
            <div class="show_category">
                <div class="image-box">
                    <img src="/images/Graphic/1.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Graphic/21.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Graphic/31.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Graphic/41.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Graphic/51.jpg" alt="Animation">
                </div>
                <div>그래픽<hr>
                    라인과 기호, 캘리그라피가 포함된 아트 디자인입니다.<br>
                    -케스티파이 페이지에서 라인아트, 타이포그래피의 카테고리를 포함하고 있습니다.<br>
                    -타이포그래피는 문자 또는 활판적 기호를 중심으로 한 2차원적 표현을 담고있는 디자인입니다.
                </div>

            </div>
        </div>
        <div class="category font-center">
            <div class="fancy">Modern</div>
            <div class="show_category">
                <div class="image-box">
                    <img src="/images/Modern/1.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Modern/21.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Modern/31.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Modern/41.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Modern/51.jpg" alt="Animation">
                </div>
                <div>모던<hr>
                    미래주의와 포토그래피의 추상적인 매력이 돋보이는 모던한 디자인입니다.<br>
                    케스티파이 페이지에서 포토그래피, 퓨처리즘, 추상적 의 카테고리가 포함되어있습니다.<br>
                    -퓨처리즘은 전통적인 예쑬을 부정하면서 도시와 기계 문명의 역동성과 속도감을 새로운  미(美)의 가치로 승화시킨 스타일을 담고있는 디자인입니다.<br>
                </div>
            </div>
        </div>
        <div class="category font-center">
            <div class="fancy">Y2K</div>
            <div class="show_category">
                <div class="image-box">
                    <img src="/images/Y2K/1.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Y2K/28.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Y2K/36.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Y2K/47.jpg" alt="Animation">
                </div>
                <div class="image-box">
                    <img src="/images/Y2K/51.jpg" alt="Animation">
                </div>
                <div>Y2K<hr>
                     많은 사랑을 받고 있는 미니멀하고 맥시멀한 2000년대에 유행했던 y2k 감성을 담고있는 카테고리입니다.<br>
                    케이스티파이 페이지에서 맥시멀과 미니멀 카테고리가 포함되어있습니다.<br>

                </div>
            </div>
        </div>
        </div>
    </th:block>
</body>
</html>