<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
<footer th:fragment="main-footer">
    <div class="footer div">
        <div class="footer_title">
            <p class="footer_p">팀원 소개</p>
        </div>
        <div class="footer1">
            <div class="member">
                <div class="box"></div>
                <label>성다현</label>
            </div>
            <div class="member">
                <div class="box"></div>
                <label>조신영</label>
            </div>
            <div class="member">
                <div class="box"></div>
                <label>박주형</label>
            </div>
            <div class="member">
                <div class="box"></div>
                <label>임보정</label>
            </div>
        </div>
        <div class="footer2">
            <h3>동덕여자대학교<br>
                정보통계학과 빅데이터 캡스톤</h3>
        </div>
    </div>
</footer>
<!-- Bootstrap JS scripts (add these if not included) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>