<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
<footer th:fragment="main-footer">
    <div class="footer div">
        <div class="footer_title">
            <p class="footer_p">팀원 소개</p>
        </div>
        <div class="footer1">
            <div class="member">
                <div class="box">
                    <img src="/images/Profile/Dahyun.jpg" width="150" height="150" alt="dahyun">
                </div>
                <div class="mem">
                <label>성다현</label><br>
                    <p>
                        - 팀장 <br>
                        - 알고리즘 구현<br>
                        - 설문지 작성<br>
                        - 웹페이지 디자인<br>
                        - PPT제작<br>
                        - 이미지 크롤링
                    </p>
                </div>
            </div>
            <div class="member">
                <div class="box">
                    <img src="/images/Profile/shinyoung.png" width="150" height="150" alt="shinyoung">
                </div>
                <div class="mem">
                <label>조신영</label><br>
                    <p>
                        - 알고리즘 구현<br>
                        - 설문지 작성<br>
                        - 설문 요약 결론 도출<br>
                        - 웹페이지 디자인<br>
                        - PPT제작
                    </p>

                </div>
            </div>
            <div class="member">
                <div class="box">
                    <img src="/images/Profile/joohyoung.png" width="150" height="150" alt="joohyoung">
                </div>
                <div class="mem">
                <label>박주형</label><br>
                    <p>
                        - 이미지 크롤링<br>
                        - PPT제작<br>
                        - 카테고리 설명 페이지 제작<br>
                        - footer 제작<br>
                        - 활동 보고서
                    </p>
                </div>
            </div>
            <div class="member">
                <div class="box">
                    <img src="/images/Profile/bojeong.jpg" width="150" height="150" alt="bojeong">
                </div>
                <div class="mem">
                <label>임보정</label><br>
                    <p>
                        - 이미지 크롤링 <br>
                        - 메인 페이지 제작<br>
                        - 알고리즘1 시나리오 작성 및 보완<br>
                        - 메인페이지 제작<br>
                        - 서버 연결 및 기능 구현<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer2">
            <h3>동덕여자대학교<br>
                정보통계학과 빅데이터 캡스톤</h3>
        </div>
    </div>
</footer>
<!-- Bootstrap JS scripts (add these if not included) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>