label{
    margin: 10px 10px 0 0;
}

.footer_p{
    font-size: 20px;
    font-weight: bold;
}

.footer1{
    display: grid;
    grid-template-columns: repeat(2, 0.35fr);
    gap: 10px;
}

.footer2{
    margin-top: 10px;
    text-align: center;
}

.member{
    display: flex;
}

.box {
    width: 150px;
    height: 150px;
    background-color: black;
}
